
.header {
    -webkit-box-shadow: 0 10px 50px 7px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 10px 50px 7px rgba(34, 60, 80, 0.2);
    box-shadow: 0 10px 50px 7px rgba(34, 60, 80, 0.2);
}

.burger-menu {
    cursor: pointer;
}

#burger-links-container {
    transition: all 0.2s ease-in-out;
    height: 0;
}

.svg-line {
    max-width: 1280px;
    margin-top: 10px;
    padding: 0 15px;
    box-sizing: border-box;
}

@media (max-width:1280px) {
    .header-opt-info {
        display: none;
    }
}

@media (min-width: 1280px) {
    .burger-opt-info {
        display: none;
    }
}