
.services-card-size-break-point {
    width: 23%;
}

@media (max-width:1280px) {
    .services-card-size-break-point {
        width: 30%;
    }
}

@media (max-width:800px) {
    .services-card-size-break-point {
        width: 47%;
    }
}

@media (max-width:580px) {
    .services-card-size-break-point {
        width: 100%;
    }
}