
.services-card-size-break-point {
    width: 23%;
}

.home-image {
    height: 460px;
}

.schema-block-mobile {
    display: none;
}

.advantages-card {
    flex-direction: row;
}

.advantages-card-content {
    width: 47%;
    height: auto;
}

.object-photo-card {
    width: 23%;
    height: auto;
}

@media (max-width:1280px) {
    .services-card-size-break-point {
        width: 30%;
    }
}

@media (min-width: 1280px) {
    .home-wrapper {
        flex-direction: row-reverse;
    }
    .home-title {
        max-width: 320px;
    }
    .home-image {
        height: 100vh;
    }
}

@media (max-width: 929px) {
    .object-photo-card {
        width: 31%;
    }
}

@media (max-width:800px) {
    .services-card-size-break-point {
        width: 47%;
    }
    .advantages-card {
        flex-direction: column;
    }
    .advantages-card-content {
        width: 90%;
        height: auto;
    }
    .our-advantages-reverse-break-point {
        flex-direction: column-reverse !important; 
    }
    .object-photo-card {
        width: 48%;
    }
}

@media (max-width: 629px) {
    .object-photo-card {
        width: 100%;
    }
}

@media (max-width:580px) {
    .services-card-size-break-point {
        width: 100%;
    }
    .schema-block-pc {
        display: none;
    }
    .schema-block-mobile {
        display: flex;
    }
}